<div class="theme-editor">
  <h2 class="heading">Theme Customizer</h2>

  <div class="controls-panel">
    <div class="control-item">
      <label for="primaryColor">Background Color :</label>
      <input
        type="color"
        id="primaryColor"
        (input)="onPrimaryColorChange($event)"
      />
    </div>

    <div class="control-item">
      <label for="secondaryColor">Text Color :</label>
      <input
        type="color"
        id="secondaryColor"
        (input)="onSecondaryColorChange($event)"
      />
    </div>
  </div>

  <div #previewBox class="preview-box">
    <h3>Preview Box</h3>
  </div>
</div>
